body{
    padding: 0px;
    margin: 0px;
}

#forbiddenMask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
}

#backgroundFramework{
    position: absolute;
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}


.monsterZone{
    height: 20%;
}

.monsterZone .monsterOverviewZone{
    border-spacing: 0px;
    width: 100%;
    height: 100%;
}

.monsterZone .monsterOverviewZone td{

}

.monsterZone .monsterDetailZone{
    border-spacing: 0px;
    border-top: 1px solid grey;
    width: 100%;
    height: 100%;
    border-right: 1px solid grey;
}

.monsterZone .monsterDetailZone td{
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: center;
    background-size: 100% 100%;
}


.ourZone{
    height: 30%;
}

#monsterHeader,
#monsterHeader img{
    width: 100px;
    text-align: center;
}

.playerHead img{
    width: 50px;
}

.playerHead td,
.playerName td,
.playerHP td{
    text-align: center;
}

.ourZone table{
    border-spacing: 0px;
    width: 100%;
    height: 100%;
}

.ourZone table td{
}

.ourZone .diceList{
    border: 0px;
}

.ourZone .diceList td{
    border: 0px;
}

.ourZone .diceList .diceDiv{
    display: inline-block;
    position: relative;
}

.ourZone .diceList .diceDiv .dice{
    height: 30px;
    border: 1px solid grey;
    cursor: pointer;
}

.ourZone .diceList .diceDiv .lock{
    position: absolute;
    border: 0;
    width: 15px;
    height: 15px;
    right: 3px;
    bottom: 3px;
    cursor: pointer;
}

.logZone div{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
